<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Go Moment</title>
  </head>
  <body>  
  <div class="home-page-container">
    <div class="home-page-image">
      <nav>
        <div class="logo"></div>
        <ul>
          <li>About</li>
          <li>Product</li>
          <li>Contact</li>
        </ul>
      </nav>
      <header id="hero-header">
        <h1>"This brings us closer than ever to our guests"</h1>
        <h5>-Area General Manager</h5>
      </header>
      <div class="test-go-moment-container">
        <div class="call-to-action">
          <p>See for yourself</p>
        </div>
        <div class="row" id="test-go-moment">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-9 columns">
                <input type="text" id="test-go-moment-input" placeholder="555-555-5555" />
              </div>
              <div class="small-3 columns">
                <span class="postfix" id="test-go-moment-submit">Show Me</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-summary">
    <div class="product-overview">
      <header>
        <h2>Put more heads in beds, on autopilot.</h2>
      </header>
      <p>Reach and delight guests instantly.</p>
    </div>
  </div>
  <div class="product-section">
    <div class="sell-point-container" id="sell-container">
      <div class="iphone-image"></div>
      <div class="iphone-gomoment-image"></div>
      <div class="sell-point" id="sell-point-1">
        <header>
          <h2>Communicate Simply</h2>
        </header>
        <p>Measurably improve guest satisfaction and promote loyalty.</p>
      </div>
    </div>
    <div class="learn-more" id="learn-more-1">
      <a href="#" data-reveal-id="myModal1">Request A Demo</a>
    </div>
    <div id="myModal1" class="reveal-modal" data-reveal>
      <form>
        <div class="row">
          <div class="medium-12 columns">
            <label>Name
              <input type="text" placeholder="First and Last Name" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>Email
              <input type="text" placeholder="Email" />
            </label>
          </div>
        </div>
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <div class="product-section">
    <div class="sell-point-container">
      <div class="imac-image"></div>
      <div class="imac-gomoment-image" id="imac-gomoment-image-2"></div>
      <div class="sell-point" id="sell-point-2">
        <header>
          <h2>Drive Results with Go Moment</h2>
        </header>
        <p id="sell-point-p-2">Automated guest service personalization, improve your guest experience, and unlock new revenue.</p>
      </div>
    </div>
    <div class="learn-more" id="learn-more-2">
        <a href="#" data-reveal-id="myModal2">Request A Demo</a>
    </div>
    <div id="myModal2" class="reveal-modal" data-reveal>
      <form>
        <div class="row">
          <div class="medium-12 columns">
            <label>Name
              <input type="text" placeholder="First and Last Name" />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-12 columns">
            <label>Email
              <input type="text" placeholder="Email" />
            </label>
          </div>
        </div>
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
  </div>
  <div class="clients-section">
    <header>
      <h2>Trusted by leading hotels & brands</h2>
    </header>
    <div class="logo-container">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <ul id="logo-second-row">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>  
  </div>
  <div class="product-section">
    <header class="product-feature-header">
      <h2>Product Features</h2>
    </header>
    <div class="product-features-container">
      <ul class="small-block-grid-3">
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Rich Guest Data</p>
              <div class="feature-icon" id="data"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Request Tracking</p>
              <div class="feature-icon" id="requests"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Real Time Feedback</p>
              <div class="feature-icon" id="realtime"></div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="small-block-grid-3">
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Dashboard Analytics</p>
              <div class="feature-icon" id="dashboard"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Automated Communication</p>
              <div class="feature-icon" id="auto"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="feature-container">
            <div class="feature-description">
              <p>Robust Reports</p>
              <div class="feature-icon" id="reports"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <footer>
    
  </footer>

  <script>

  $(".feature-container").hover(function(){

    $(this).children("div.feature-description").toggleClass("hovered");
  });

  $(document).foundation();

  </script>
    
  </body>